@model LabDemoEF.UI.Models.Suppliers.SuppliersDetail

@{
    ViewBag.Title = "AddSuppliers";
}

<h2>Agregar Proveedores</h2>
@using (Html.BeginForm("AddSuppliers", "Home", FormMethod.Post))
{
    <table class="table">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CompanyName)</td>
                <td>@Html.EditorFor(m => m.CompanyName)</td>
                <td>@Html.DisplayNameFor(m => m.ContactName)</td>
                <td>@Html.EditorFor(m => m.ContactName)</td>
                <td>@Html.DisplayNameFor(m => m.City)</td>
                <td>@Html.EditorFor(m => m.City)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Address)</td>
                <td>@Html.EditorFor(m => m.Address)</td>
                <td>@Html.DisplayNameFor(m => m.Region)</td>
                <td>@Html.EditorFor(m => m.Region)</td>
                <td>@Html.DisplayNameFor(m => m.PostalCode)</td>
                <td>@Html.EditorFor(m => m.PostalCode)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ContactTitle)</td>
                <td>@Html.EditorFor(m => m.ContactTitle)</td>
                <td>@Html.DisplayNameFor(m => m.Phone)</td>
                <td>@Html.EditorFor(m => m.Phone)</td>
                <td>@Html.DisplayNameFor(m => m.HomePage)</td>
                <td>@Html.EditorFor(m => m.HomePage)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Fax)</td>
                <td>@Html.EditorFor(m => m.Fax)</td>
                
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Agregar" />
}
